# Normalize text files
.c      text
.cpp    text
.h      text
.hpp    text
.java   text
.kt     text
.lvl    text
.vert   text
.frag   text

# Ensure consistent line endings on Windows machines
text=auto
